/* --------- Global style */

body {
    background-color: #E6ECF0;
    font-family: "Raleway", sans-serif;
    color: #0f0f0f;
    text-align: center;
    margin: 0;
}

/* --------- Heading */

.heading {
    background-color: white;
    text-align: center;
    font-size: 4rem;
    box-sizing: border-box;
    width: 85%;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 5px;
}

/*-----------start*/

.how-it-works {
    background-color: white;
    opacity:59%;
    text-align: center;
    background-color:#white;
    box-sizing: border-box;
    width: 85%;
    max-width: 830px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 4px 10px 2px #0f0f0f;
    color:#white;
    background: linear-gradient;
    letter-spacing: 1.9px;
}

.myUL {
    display: inline-block;
    text-align: left;
}

.heading {
    text-align:center
    background-color:white;
    box-sizing: border-box;
    width: 85%;
    max-width: 830px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 4px 10px 2px #0f0f0f;
    color:#white;
    background: linear-gradient;
    letter-spacing: 1.9px;
}


/* --------- Quiz layout */

.quiz-area {
    background-color:white;
    box-sizing: border-box;
    width: 85%;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 100px;
    border-radius: 5px;
    box-shadow: 2px 4px 10px 2px #0f0f0f;
}
.question-container {
    display: table;
}
.question-image {
    width: 100px;
    float: left;
    padding-right: 10px;
}

.question-image img {
    width: 100px;
    height: 100px;
}

.question-box {
    text-align: left;
    float: left;
    font-size: x-large;
}

.question{
	font-weight: 600;
}
.answers {
  margin-bottom: 20px;
}
.answers label{
  display: block;
}

.score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;
}

.controls-area {
    width: 85%;
    margin: 30px auto;
}

#score {
    color: green;
    font-weight: bold;
}

#incorrect {
    color: red;
    font-weight: bold;
}


.scores {
    display: inline-block;
    padding: 25px;
}

/* --------- Buttons */

.btn {
    width: 220px;
    height: 60px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    color: black;
    margin-bottom: 5px;
}

.btn-small {
    width: 180px;
    height: 20px;
}

.btn:focus {
    outline: none;
}

.btn--gray {
    background-color:#E6ECF0;
    opacity: 66%;
    margin-top: 5px;
    background-color: #white;
    border: 1px transparent;
    border-radius: 20px;
}

.btn--gray:active,
.btn--gray:hover {
    background-color: #7e7f81;
}

/* --------- Media queries */

@media (max-width: 414px) {
    .controls-area {
        width: 100%;
    }


    .question-area {
        padding: 10% 0;
        width: 100%;
    }

    .question-area span {
        padding: 0;
    }

    .answer-message {
        display: block;
    }

    #answer-box {
        display: block;
        margin: 0 auto;
    }
    .btn--gray {
        margin-top: 0;
    }

    .score-area {
        width: 100%;
    }

    .scores {
        margin: 0.5em auto;
        display: block;
        padding: 5px;
    }

    .heading {
        font-size: 2rem;
    }
}

@media (max-width: 320px) {
    .game-area {
        height: 70vh;
    }

    .controls-area {
        width: 75%;
        margin: 10px auto;
    }

    .btn--big {
        margin: 10px 10px;
    }
    .question-area {
        padding: 10px 0;
    }

}